# Eclipse files
.metadata/
.classpath
.project
.scala_dependencies
.settings/
target/
bin/
.cache

# IntelliJ files
.idea/

# Scala IDE files
.worksheet
*.sc

# OS specific files
.DS_Store
desktop.ini
Thumbs.db
